---
import { Image } from "astro:assets";
---

<header>
  <div class="flex justify-between">
    <Image src={"/favicon.ico"} width={24} height={24} alt="" />

    <nav>
      <ul>
        <li>Home</li>
      </ul>
    </nav>

    <button> Réserver</button>
  </div>
</header>
