---

---

<main>
  <h1 class="title__container text-3xl font-bold text-green-400">
    Votre petite main!
  </h1>
</main>

<style>
  .title__container {
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeIn 3s forwards;
    animation-delay: 0.5s;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
