---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Eri Schön - Développeur Front-end Freelance">
  <main>
    <h1>Eri Schön, Développeur Front-end Freelance</h1>
  </main>
</Layout>
